In [24]:
#서울시 일인당 cctv 댓수 구별 현황분석
#구별 인구당 cctv댓수 현황파악
#인구당 cctv댓수와 관련이 높은 지표는..

In [25]:
import pandas as pd
import numpy as np

In [26]:
cctv_seoul = pd.read_csv('CCTV_in_Seoul.csv')
cctv_seoul.head(3)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [169]:
pop_seoul = pd.read_excel('population_in_Seoul.xls')
pop_seoul.head(5)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [170]:
#서울시 구별 인구데이터

In [171]:
pop_seoul

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764
5,2017.1/4,용산구,106544,244203,119132,125071,229456,111167,118289,14747,7965,6782,2.15,36231
6,2017.1/4,성동구,130868,311244,153768,157476,303380,150076,153304,7864,3692,4172,2.32,39997
7,2017.1/4,광진구,158960,372164,180992,191172,357211,174599,182612,14953,6393,8560,2.25,42214
8,2017.1/4,동대문구,159839,369496,182932,186564,354079,177021,177058,15417,5911,9506,2.22,54173
9,2017.1/4,중랑구,177548,414503,206102,208401,409882,204265,205617,4621,1837,2784,2.31,56774
10,2017.1/4,성북구,188512,461260,224076,237184,449773,219545,230228,11487,4531,6956,2.39,64692
11,2017.1/4,강북구,141554,330192,161686,168506,326686,160353,166333,3506,1333,2173,2.31,54813
12,2017.1/4,도봉구,136613,348646,171026,177620,346629,170289,176340,2017,737,1280,2.54,51312
13,2017.1/4,노원구,219957,569384,276823,292561,565565,275211,290354,3819,1612,2207,2.57,71941
14,2017.1/4,은평구,201869,494388,240220,254168,489943,238337,251606,4445,1883,2562,2.43,72334
15,2017.1/4,서대문구,137207,327163,156765,170398,314982,152613,162369,12181,4152,8029,2.3,48161
16,2017.1/4,마포구,169404,389649,185889,203760,378566,181346,197220,11083,4543,6540,2.23,48765
17,2017.1/4,양천구,176921,479978,237117,242861,475949,235278,240671,4029,1839,2190,2.69,52975
18,2017.1/4,강서구,247696,603772,294433,309339,597248,291249,305999,6524,3184,3340,2.41,72548
19,2017.1/4,구로구,172272,447874,224436,223438,416487,207114,209373,31387,17322,14065,2.42,56833
20,2017.1/4,금천구,105146,255082,130558,124524,236353,120334,116019,18729,10224,8505,2.25,32970
21,2017.1/4,영등포구,165462,402985,202573,200412,368072,183705,184367,34913,18868,16045,2.22,52413
22,2017.1/4,동작구,173033,412520,201217,211303,400456,195775,204681,12064,5442,6622,2.31,56013
23,2017.1/4,관악구,253826,525515,264763,260752,507203,256090,251113,18312,8673,9639,2,68082
24,2017.1/4,서초구,173856,450310,216264,234046,445994,214036,231958,4316,2228,2088,2.57,51733
25,2017.1/4,강남구,234107,570500,273301,297199,565550,270726,294824,4950,2575,2375,2.42,63167
26,2017.1/4,송파구,259883,667483,325040,342443,660584,321676,338908,6899,3364,3535,2.54,72506
27,2017.1/4,강동구,179676,453233,225427,227806,449019,223488,225531,4214,1939,2275,2.5,54622
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.3+ KB

In [ ]:
1,3,6,9,13

In [32]:
pop_seoul = pd.read_excel('population_in_Seoul.xls',usecols =[1,3,6,9,13]) #usecols 원하는 컬럼 data 출력
pop_seoul.head(5)   # load specific columns into dataframe.

   자치구        인구     인구.3    인구.6  65세이상고령자
0  자치구        합계      한국인   등록외국인  65세이상고령자
1  자치구         계        계       계  65세이상고령자
2   합계  10197604  9926968  270636   1321458
3  종로구    162820   153589    9231     25425
4   중구    133240   124312    8928     20764

In [173]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.3+ KB

In [34]:
pop_seoul = pd.read_excel('population_in_Seoul.xls',usecols =[1,3,6,9,13],
                         skiprows=2) #데이터 두칸 아래부터 출력
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [168]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      26 non-null     object
 1   인구수     26 non-null     float64
 2   한국인     26 non-null     float64
 3   외국인     26 non-null     float64
 4   고령자     26 non-null     float64
 5   외국인비율   26 non-null     float64
 6   고령자비율   26 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.9+ KB

In [ ]:
#rename은 원본이 바뀌지는 않는다

In [38]:
pop_seoul.rename(columns={'자치구':'구별','계':'인구수','계.1':'한국인',\
                         '계.2':'외국인','65세이상고령자':'고령자'}).head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [39]:
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [ ]:
#원본을 바꾸고 싶은 경우 #inplace = True 끝에

In [45]:
pop_seoul.rename(columns={'자치구':'구별','계':'인구수','계.1':'한국인',\
                         '계.2':'외국인','65세이상고령자':'고령자'},\
                    inplace=True)
pop_seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [46]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      26 non-null     object
 1   인구수     26 non-null     float64
 2   한국인     26 non-null     float64
 3   외국인     26 non-null     float64
 4   고령자     26 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.2+ KB

In [49]:
pop_seoul.drop(26,axis=0,inplace=True)

In [50]:
pop_seoul    #inplace = True를 하면 원본 값 Nan 이아닌 row 삭제

      구별         인구수        한국인       외국인        고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0

In [ ]:
#구별 외국인 비율 상위 5개 구...

In [66]:
pop_seoul['외국인비율'] = (pop_seoul['외국인']/pop_seoul['인구수']*100)
pop_seoul.sort_values('외국인비율',ascending=False).head() #sort_values

      구별       인구수       한국인      외국인      고령자     외국인비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828

In [ ]:
#고령자 비율 상위 5개 구

In [67]:
pop_seoul['고령자비율'] = (pop_seoul['고령자']/pop_seoul['인구수']*100)
pop_seoul.sort_values('고령자비율',ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797

In [71]:
#CCTV 데이터분석

In [73]:
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [84]:
cctv_seoul.rename(columns={'기관명':'구별'},inplace=True)

In [85]:
###CCTV가 가장 많은 구 ... 상위 5곳

In [86]:
cctv_seoul.sort_values('소계',ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [119]:
# 2016년도에 cctv증가율이 가장 높은 구?
# => (2016년도 cctv증가 수) / (2015년도 누적 cctv수)

In [1]:
# cctv_seoul['2015년도 누적 cctv수'] = 
cctv_seoul[['2013년도 이전','2014년','2015년']].sum(axis=1)

NameError: name 'cctv_seoul' is not defined

In [122]:
cctv_seoul['2016년 증가율'] = cctv_seoul['2016년']/cctv_seoul['2015년도 누적 cctv수']

In [123]:
cctv_seoul.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,2015년도 증가수,2015년도 누적 cctv수,2016년 증가율,2016년 총 합,인구율
0,강남구,2780,1292,430,584,932,NaN,2306,0.404163,3238,1.164748
1,강동구,773,379,99,155,377,NaN,633,0.595577,1010,1.306598
2,강북구,748,369,120,138,204,NaN,627,0.325359,831,1.110963
3,강서구,884,388,258,184,81,NaN,830,0.097590,911,1.030543
4,관악구,1496,846,260,390,613,NaN,1496,0.409759,2109,1.409759

In [124]:
cctv_seoul.sort_values('2016년 증가율', ascending=False)[:5]

,구별,소계,2013년도 이전,2014년,2015년,2016년,2015년도 증가수,2015년도 누적 cctv수,2016년 증가율,2016년 총 합,인구율
9,도봉구,485,238,159,42,386,NaN,439,0.879271,825,1.701031
17,송파구,618,529,21,68,463,NaN,618,0.749191,1081,1.749191
22,종로구,1002,464,314,211,630,NaN,989,0.637007,1619,1.615768
12,마포구,574,314,118,169,379,NaN,601,0.630616,980,1.707317
1,강동구,773,379,99,155,377,NaN,633,0.595577,1010,1.306598

In [126]:
#1인당 cctv(인당 cctv비율)가 가장 높은 상위 5개 구

In [127]:
cctv_seoul.head(2)

,구별,소계,2013년도 이전,2014년,2015년,2016년,2015년도 증가수,2015년도 누적 cctv수,2016년 증가율,2016년 총 합,인구율
0,강남구,2780,1292,430,584,932,NaN,2306,0.404163,3238,1.164748
1,강동구,773,379,99,155,377,NaN,633,0.595577,1010,1.306598

In [128]:
pop_cctv_seoul = pd.merge(cctv_seoul, pop_seoul, on='구별', how='inner')

In [129]:
pop_cctv_seoul.head(2)

,구별,소계,2013년도 이전,2014년,2015년,2016년,2015년도 증가수,2015년도 누적 cctv수,2016년 증가율,2016년 총 합,인구율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,NaN,2306,0.404163,3238,1.164748,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,NaN,633,0.595577,1010,1.306598,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638

In [156]:
pop_cctv_seoul.drop(['2015년도 증가수'], \
                    axis=1, inplace=True)

In [157]:
pop_cctv_seoul.head()

,구별,소계,2016년 총 합,인구율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
0,강남구,2780,3238,1.164748,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.004873
1,강동구,773,1010,1.306598,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638,0.001706
2,강북구,748,831,1.110963,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342,0.002265
3,강서구,884,911,1.030543,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794,0.001464
4,관악구,1496,2109,1.409759,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291,0.002847

In [158]:
#1인당 cctv수

In [159]:
pop_cctv_seoul['인당 cctv수'] = pop_cctv_seoul['소계']/pop_cctv_seoul['인구수']

In [160]:
pop_cctv_seoul.head()

,구별,소계,2016년 총 합,인구율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
0,강남구,2780,3238,1.164748,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.004873
1,강동구,773,1010,1.306598,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638,0.001706
2,강북구,748,831,1.110963,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342,0.002265
3,강서구,884,911,1.030543,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794,0.001464
4,관악구,1496,2109,1.409759,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291,0.002847

In [161]:
#1인당 cctv 상위 5개 구

pop_cctv_seoul.sort_values('인당 cctv수',ascending=False).head()

,구별,소계,2016년 총 합,인구율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
20,용산구,1624,2096,1.290640,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427,0.006650
22,종로구,1002,1619,1.615768,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404,0.006154
23,중구,671,1023,1.524590,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909,0.005036
0,강남구,2780,3238,1.164748,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.004873
14,서초구,1930,2297,1.190155,450310.0,445994.0,4316.0,51733.0,0.958451,11.488308,0.004286

In [162]:
#일인당 cctv에 가장 큰 영향을 미치는 요인..?

In [163]:
pop_cctv_seoul.corr().head()

,소계,2016년 총 합,인구율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
소계,1.000000,0.972356,-0.512832,0.306342,0.304287,-0.023786,0.255196,-0.136074,-0.280786,0.575784
2016년 총 합,0.972356,1.000000,-0.321542,0.243220,0.238638,0.027950,0.175518,-0.052302,-0.258663,0.632369
인구율,-0.512832,-0.321542,1.000000,-0.243734,-0.243415,0.039822,-0.305411,0.187316,0.105038,-0.144973
인구수,0.306342,0.243220,-0.243734,1.000000,0.998061,-0.153371,0.932667,-0.591939,-0.669462,-0.514143
한국인,0.304287,0.238638,-0.243415,0.998061,1.000000,-0.214576,0.931636,-0.637911,-0.660812,-0.513169

In [164]:
pop_cctv_seoul.drop('소계',axis=1).corr()

,2016년 총 합,인구율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,인당 cctv수
2016년 총 합,1.000000,-0.321542,0.243220,0.238638,0.027950,0.175518,-0.052302,-0.258663,0.632369
인구율,-0.321542,1.000000,-0.243734,-0.243415,0.039822,-0.305411,0.187316,0.105038,-0.144973
인구수,0.243220,-0.243734,1.000000,0.998061,-0.153371,0.932667,-0.591939,-0.669462,-0.514143
한국인,0.238638,-0.243415,0.998061,1.000000,-0.214576,0.931636,-0.637911,-0.660812,-0.513169
외국인,0.027950,0.039822,-0.153371,-0.214576,1.000000,-0.155381,0.838904,-0.014055,0.079211
고령자,0.175518,-0.305411,0.932667,0.931636,-0.155381,1.000000,-0.606088,-0.380468,-0.541024
외국인비율,-0.052302,0.187316,-0.591939,-0.637911,0.838904,-0.606088,1.000000,0.267348,0.406199
고령자비율,-0.258663,0.105038,-0.669462,-0.660812,-0.014055,-0.380468,0.267348,1.000000,0.290528
인당 cctv수,0.632369,-0.144973,-0.514143,-0.513169,0.079211,-0.541024,0.406199,0.290528,1.000000